{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/Q1",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/Q3" method="post" class="form">

        {{ radios({
          "idPrefix": "doPSII",
          "name": "doPSII",
          "fieldset": {
            "legend": {
              "text": "Are you going to do or are currently doing a PSII?",
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            },
            {
              "value": "pending",
              "text": "Pending the outcome of a review"
            }
          ]
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

        
      </form>

    </div>
  </div>

{% endblock %}
